# OpenOCD configuration for Gowin GW_JTAG USER DR probing.
#
# By default this uses a direct FT2232 setup. Some distro-provided SIPEED
# configs constrain the USB product description, which does not match every
# Tang board using the same FTDI VID/PID.

if {[info exists ::env(OPENOCD_IFACE_CFG)] && ($::env(OPENOCD_IFACE_CFG) ne "")} {
    source $::env(OPENOCD_IFACE_CFG)
} else {
    adapter driver ftdi

    if {[info exists ::env(OPENOCD_FTDI_DEVICE_DESC)] && ($::env(OPENOCD_FTDI_DEVICE_DESC) ne "")} {
        ftdi device_desc $::env(OPENOCD_FTDI_DEVICE_DESC)
    }

    if {[info exists ::env(OPENOCD_FTDI_VID_PID)] && ($::env(OPENOCD_FTDI_VID_PID) ne "")} {
        eval ftdi vid_pid $::env(OPENOCD_FTDI_VID_PID)
    } else {
        ftdi vid_pid 0x0403 0x6010
    }

    if {[info exists ::env(OPENOCD_FTDI_CHANNEL)] && ($::env(OPENOCD_FTDI_CHANNEL) ne "")} {
        ftdi channel $::env(OPENOCD_FTDI_CHANNEL)
    } else {
        ftdi channel 0
    }

    if {[info exists ::env(OPENOCD_FTDI_LAYOUT_INIT)] && ($::env(OPENOCD_FTDI_LAYOUT_INIT) ne "")} {
        eval ftdi layout_init $::env(OPENOCD_FTDI_LAYOUT_INIT)
    } else {
        ftdi layout_init 0x0008 0x001b
    }

    ftdi layout_signal nSRST -oe 0x0020 -data 0x0020
}

transport select jtag

if {[info exists ::env(OPENOCD_ADAPTER_SPEED_KHZ)] && ($::env(OPENOCD_ADAPTER_SPEED_KHZ) ne "")} {
    adapter speed $::env(OPENOCD_ADAPTER_SPEED_KHZ)
} else {
    adapter speed 1000
}

if {[info exists ::env(OPENOCD_EXPECTED_IDCODE)] && ($::env(OPENOCD_EXPECTED_IDCODE) ne "")} {
    set fpga_expected_id $::env(OPENOCD_EXPECTED_IDCODE)
    jtag newtap gowin fpga -irlen 8 -expected-id $fpga_expected_id
} else {
    jtag newtap gowin fpga -irlen 8
}
